.background{
    min-height: 97vh;
    width: 100%;
    background-position: centre;
    background-size:cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(4, 9, 30,0.8),rgb(4, 9, 30,0.8)),url('images/welcome1.jpg');
}
h2{
    position: relative;
    font-size: 14vw;
    color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 0.3vw #724545;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #EFA18A;
    -webkit-text-stroke: 0vw #724545;
    border-right: 2px solid #EFA18A;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
.fas{
    color:#724545;
    font-size: 40px;
    margin-top: 500px;
    float: right;
}
.fas:hover{
    /* border: 3px solid #EFA18A; */
    color: #EFA18A;
    transition: .2s;
}
